*{
	box-sizing: border-box;
}
.card img{
	height: auto;
	width: 100%;
	margin-bottom: 5px;
}

.card-row{
	width: 100%;
	margin: 0px;
}
.card-column{
	width: 25%;
	float: left;
	padding: 0 16px;
	margin-bottom: 30px;
}
.card{
	background-color: white;
	padding: 16px;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
	transition: 0.8s;
	align-items: center;
}
.card p{
	color: #222;
}
.card h3{
	font-size: 18px;
	font-weight: bold;
}
.card:hover{
	background-color: #ffc107;;
	box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.8);
}
@media screen and (max-width: 600px){
	.card-column{
		width: 100%;
	}
}

body{
	padding: 0px;
	margin: 0px;
	background: #e1e1e1;
}
.header{
	background-image: url(bg7.jpg);
	background-size: cover;
	background-position: center;
	padding: 50px 24px;
	text-align: left;
	color: black;
	margin: 0px;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.header h3{
	font-size: 40px;
	}
.ul ul{
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #ffc107;
}
.ul li a{
	text-decoration: none;
	color: black;
	text-align: center;
	padding: 16px 20px;
	display: inline ; float: right;
}
.ul li a:hover{
	background-color: #f57c00;
	color: white;
}
.navbar{
	width: 100%;
	height: 50%;
}
.container-fluid{
	background:white;
}
.container-fluid a{
	color: black;
}
.btn:hover{
	background-color: #ffd416;
}
.beli.btn:hover{
	background: black;
	color: white;
}
#next {	
	width: 100%;
	height: 250%;
	margin: 0px 200px 0px 0px;
	background: white;
	padding: 30px 0px 70px 0;
	
	display: flex;
	justify-content: right;
	align-items: right;
}
.new.btn{
	font-size: 15px;
}
	
#sidec {
	height: 50px;
	background:black;
	padding: 6px 24px;
	text-align: left;
	color: white;
	margin: 0px;
	letter-spacing: 1px;
	font: caption;
	font-size: 14px;
	text-transform: uppercase;
}
#kiri{
	background-color: #d6eadf;
	width: 250px;
	height: 760px;
	margin: 0 0 20px;
	float: left;
	list-style: none;
	box-shadow: 0 0 10px rgba(0, 0, 0, .25);

}

#kiri ul{
	margin: 0 0 20px 20px;
	padding: 0;
	list-style: none;
	width: 200px;
}

#kiri li{
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
}

#kiri h2{
	margin: 0px 0 0px 0;
	padding: 5px 12px;
	color: brown;
	font-size: 20px;
	background: #eac4d5;
}

#kiri a{
	display: block;
	padding: 3px 10px;
	text-decoration: none;
	color: black;
	border-bottom: 1px dotted blue;
}

#kiri a:hover{
	background: #fce1e4;
	color: #554ccd;
}

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}
.dropdown-menu{
	--bs-dropdown-link-active-bg: #ffc107;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.page-footer {
	background-color: #222;
	color: #ccc;
	padding: 60px 0 30px;
	font-size: 14px;
}
.footer-copyright {
	color: #666;
	padding: 40px 0;
}
@media(min-width:1200px) and (max-width: 1302px){
	.card{
		height: 450px;
	}
}
@media(min-width:820px) and (max-width: 1199px){
	.card{
		height: 400px;
	}
}
@media(min-width:601px) and (max-width: 819px){
	.card{
		height: 360px;
	}
	.card h3{
		font-size: 16px;
	}
}
@media (max-width: 514px){
	.ul li a{
		font-size: 13px;
	}
}
@media (max-width: 455px){
	.ul li a{
		font-size: 12px;
	}
}
@media (max-width: 428px){
	.ul li a{
		font-size: 11px;
	}
}
@media (max-width: 405px){
	.ul li a{
		font-size: 10px;
	}
}
@media (max-width: 385px){
	.ul li a{
		font-size: 11px;
		display:block; float: none;
	}
}

		

